<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12l text-center pad-T150 about-banner">
        <div class="col-sm-8">
          <h1>About Creddit</h1>
          <p>Creddit is a research project at Stanford University to explore decentralized credit distribution</p>
        </div>
        <div class="col-sm-4 about-img"><img src="../img/about-icon.png" alt="about" title=""></div>
      </div>
    </div>
  </div>
</section>
<div class="col-sm-12 h-t pad-TB100">
  <h2>What is creddit</h2>
  <div class="border-line"></div>
</div>
<section class="article">
  <div class="container">
    <div class="row text-center about-page">
      <div class="col-sm-12">
        <p>Typical credit assignment is centralized: it relies on a single supervisor or a small number of peers on the team to make an assessment. For example, a lead researcher often determines author order for all collaborators on a paper, and at a company your supervisors determines your performance review. </p>
        <p>But, it's hard for any single person to see all perspectives on everyone else's contributions. Our research introduced this decentralized credit system, which considers everybody's opinion in determining credit. Under the hood, we transform the credit problem into a graph problem. In this ap­proach,all participants provide peer assessments about others they have interacted with. This produces a weighted directed graph, and we use a graph centrality algorithm — a variant of the PageRank algorithm — to aggregate these assessments and determine a collective evaluation.</p>
        <p>We've used this approach to assign credit on papers with more than 30 authors, and opened it up in the hopes that it would be useful to you.</p>
        <h4>To learn more about the algorithm, read our paper:</h4>
        <p>Vaish, R., Gaikwad, S., Kovacs, G., Veit, A., Krishna, R., Ibarra, I.A., Simoiu, C., Wilber, M., Belongie, S., Goel, S., Davis, J., Bernstein, M. Crowd Research: Open and Scalable University Laboratories. 2017. UIST 2017: ACM Symposium on User Interface Software and Technology.
        </p>
      </div>
      <div class="col-sm-12 h-t">
        <h2>ABOUT US</h2>
        <div class="border-line"></div>
        <p><img src="../img/standford.png"></p>
      </div>
    </div>
    <div class="continer">
      <div class="row">
        <div class = "col-sm-9 col-sm-offset-1">
          <div class="col-md-6 research">
            <div class="cliend">
              <img src="../img/rajan.png">
            </div>
            <p><a href="#">Rajan Vaish</a></p>
            <p>Stanford University and Snap Research</p>
            <div class="info">
              <p> <span>Neil Gaikwad</span>, MIT</p>
              <p><span>Geza Kovacs</span>, Stanford University</p>
              <p><span>Andreas Vei</span>t, Cornell Tech</p>
              <p><span>Ranjay Krishna</span>, Stanford University</p>
              <p><span>Imanol Arrieta Ibarra</span>, Stanford University</p>
            </div>
          </div>
          <div class="col-md-6 research">
            <div class="cliend">
              <img src="../img/maichel.png"> </div>
            <p><a href="#">Michael Bernstein</a></p>
            <p>Stanford University</p>
            <div class="info">
              <p> <span>Camelia Simoiu</span>, Stanford University</p>
              <p> <span>Michael Wilber</span>, Cornell Tech</p>
              <p> <span>Serge Belongie</span>, Cornell Tech</p>
              <p> <span>Sharad Goel</span>, Stanford University</p>
              <p> <span>James Davis</span>, UC Santa Cruz</p>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</section>
