<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <a [routerLink]="['/']">
                  <img src="../img/logo.png" alt="logo" title="logo">
                </a>
            </div>
            <div class="col-sm-8 col-xs-6">
                <nav>
                    <ul>
                        <!--<li> <a [routerLink]="['groups']">Group</a></li>-->
                        <li> <a class="about-link" [routerLink]="['about']">ABOUT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<main>
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!-- <img src="/img/angular.png"> -->
  <router-outlet></router-outlet>
</main>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="center-img">
              <a target="_blank" href = "http://hci.stanford.edu">
                <img src="../img/bottom-logo.png" style="width: 108px;height: 108px;">
              </a>
            </div>
            <div class="col-sm-6"><img src="../img/logo.png" alt="logo" title="logo"></div>
          <div class="col-sm-6">
            <p>
              <a class="footerLink" target="_blank" href = "http://hci.stanford.edu">
                Stanford HCI Group
              </a>
            </p>
          </div>
        </div>
    </div>
</div>

