<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12l text-center pad-T150">
                <div class="big-text">CreDdit</div>
                <div class="sub-text">Give everyone a say in how much credit each person deserves. For group projects, performance reviews, paper authorship, and more.</div>
                <a class="btn btn-white" [routerLink]="['groups']">
                    START
                </a>
            </div>
        </div>
    </div>
</section>

<div class="col-sm-12 pad-TB100 h-t">
    <div class="row">
        <h2>How it works</h2>
        <div class="border-line"></div>
    </div>
</div>

<section class="article">
    <div class="container"><div class="row">
        <div class="col-sm-4">
            <div class="imageGroup">
                <div class="img-box"><img src="../img/block1.png" alt="b1"> <span class="f-62R"> 01</span></div> Add everyone in your team
            </div>
        </div>

        <div class="col-sm-4">
            <div class="imageGroup">
                <div class="img-box"><img src="../img/block2.png" alt="b2"><span class="f-62R"> 02</span></div>  Team members privately score each other
            </div>
        </div>

        <div class="col-sm-4">
            <div class="imageGroup"><div class="img-box"><img src="../img/block3.png" alt="b3"> <span class="f-62R"> 03</span></div>  Creddit computes scores for each team member
        </div>
    </div>
</div></div>
</section>
<div class="container pad-B215">
<div class="row">
    <div class="col-sm-12 h-t pad-TB100">
        <h2>What is collective credit</h2>
        <div class="border-line"></div>

    </div>
    <div class="col-sm-12">
        <p class="f23N">
            Spelling, one person decides how much credit each contributor gets. Creddit takes a different stance: that everyone gets a say. Each person privately shares theik opinions, and Creddit aggregates it into a jointly-authored credit ranking. Under the hood, credit distributions create a weighted directed graph, which we then transform using a graph authority algorithm into a score for each participant.
        </p>
    </div>


</div>
</div>


<div class="footerTop">

<div class="container">

    <div class="row">
        <div class="bigNumber">{{groupCount}}</div>
        <div class="bigNumberSlogon">Groups so far</div>
    </div>
</div>



</div>
