<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12l text-center pad-T150 about-banner">
        <div class="col-sm-8">
          <h1>Add team members</h1>
          <p>Each member of the group will receive an email with a private link for giving out credits.</p>
        </div>
        <div class="col-sm-4 about-img"><img src="../img/about-icon.png" alt="about" title=""></div>
      </div>
    </div>
  </div>
</section>
<section class="article">
  <form #groupAddForm="ngForm" (ngSubmit)="createGroup()">
    <div class="container">
      <div class="col-md-12 group">
        <div class="groupname">
          <input required [(ngModel)]="groupData.name"
            name="groupName"
            type="text" placeholder="Group name"
            class="input form-control">
          <h4>Group administrator:</h4>
        </div>
        <div class="col-md-12" *ngFor="let creditAdmin of groupData.credit_admin; let i = index">
          <div class="col-md-6">
            <input required [(ngModel)]="creditAdmin.name" name="creditAdminName-{{i}}" type="text" placeholder="Name" class="input form-control">
          </div>
          <div class="col-md-6">
            <input required [(ngModel)]="creditAdmin.email" name="creditAdminEmail-{{i}}" email placeholder="Email" class="input form-control">
          </div>
        </div>
      </div>
      <div class="col-md-12 add-group">
        <p>Add group members. Once completed, they will each be emailed a private URL to enter their scores.</p>
      </div>
      <div class="col-md-12 inputgroup" *ngFor="let creditUser of groupData.credit_users; let i = index">
        <div class="col-md-2">
          <div class="input-circle">
            <span class="circle-text">{{getInitials(creditUser.name)}}</span>
          </div>
        </div>
        <div class="col-md-4 pdl0" [class.has-error]="name.invalid && name.touched">
          <input required [(ngModel)]="creditUser.name" #name="ngModel"
                name="name-{{i}}" type="text" placeholder="Name" class="inputsearch form-control">
          <label class="control-label"
          *ngIf="name.errors && name.errors.required && name.touched">
            <i class="fa fa-times-circle-o"></i> Name is required
          </label>
        </div>
        <div class="col-md-4 pdr0" [class.has-error]="email.invalid && email.touched">
          <input
            required [(ngModel)]="creditUser.email" #email="ngModel"
            name="email-{{i}}" email placeholder="Email" class="inputsearch form-control">
          <label class="control-label"
                 *ngIf="email.errors && email.errors.email && email.touched && !email.errors.required">
            <i class="fa fa-times-circle-o"></i> Invalid Email
          </label>
          <label class="control-label"
                 *ngIf="email.errors && email.errors.required && email.touched">
            <i class="fa fa-times-circle-o"></i> Email is required
          </label>
        </div>
        <div class="col-md-2 delimg">
          <a (click)="removeUser(i)">
            <img src="../img/cancle.png">
          </a>
        </div>
      </div>
      <div class="col-md-12 pdnone">
        <div class="col-md-6 pdl0">
          <a (click)="addMoreUser()" class="btnadd">
            <img src="../img/add.png"> Add another member
          </a>
        </div>
        <div class="col-md-6 pdr0">
          <button [ladda]="isLoading" [disabled]="groupAddForm.invalid" type="submit" class="btnadd" style="border: 0">
            <img src="../img/success.png">  Finish
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
<div class="clr"></div>
