<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12l text-center pad-T150 about-banner">
        <div class="col-sm-8">
          <h1>SUCCESS</h1>
          <p>We've saved your response.</p>
        </div>
        <div class="col-sm-4 about-img"><img src="../img/about-icon.png" alt="about" title=""></div>
      </div>
    </div>
  </div>
</section>
<section class="article detail_page">
    <div class="container">
      <div class="col-md-12 add-group group" *ngIf="groupData && groupData.admin_user">
        <p *ngIf = "isDecline">You have declined to submit credit. It will appear to
          other members of the group as if you submitted credit scores, but
          our system will privately note that you declined to do so
          and will only consider other group members' scores in its
          calculations. <a [routerLink]="['/scores', token]">Click here</a> if you change your mind and
          would like to enter scores.</p>
        <p *ngIf = "!isDecline">The group creator, {{groupData.admin_user.name}} , can see the results aggregated across all group members, and share them
          when ready. If you later want to change how many points you gave each person,
          visit the same link in your email:</p>
        <p style="text-align: center;">
          <a href="{{pathToCopy}}" class="btn btn-primary btn-lg" style="border: 0;margin-top: 15px;max-width: 95%;white-space: normal !important;word-wrap: break-word;">
            {{pathToCopy}}
          </a>
        </p>
      </div>
      <div class="col-md-12 inputgroup" *ngFor="let creditUser of groupData.from_credit_user; let i = index">
        <div class="col-md-2">
          <div class="input-circle">
            <span class="circle-text">{{getInitials(creditUser.to_credit_user_name)}}</span>
          </div>
        </div>
        <div class="col-md-6 pdl0 personName">
          <h2>
            {{creditUser.to_credit_user_name}}
          </h2>
        </div>
        <div class="col-md-4 pdr0 text-center">
          <h3>
            <span class="score">{{creditUser.score}}</span>
          </h3>
        </div>
      </div>
      <div class="col-md-12 pdnone btn-submit">
        <a [routerLink]="['/scores', token]" class="btn btn-primary btn-lg" style="border: 0">
          Edit
        </a>
      </div>
    </div>
</section>
<div class="clr"></div>
