<section class="banner">
	<div class="container">
    <div class="row">
    <div class="col-sm-12l text-center pad-T150 about-banner">
    	<div class="col-sm-8">
        	<h1>Add team members</h1>
            <p>Each member of the group will receive an email with
a private link for giving out credits.</p>
        </div>
        <div class="col-sm-4 about-img"><img src="../img/about-icon.png" alt="about" title=""></div>
    </div>
    </div>
    </div>


</section>





<section class="article">
<div class="container">
<div class="col-md-12 group">
<div class="groupname"><input name="" type="text" placeholder="Group name" class="input">
<h4>Group administrator:</h4>
</div>
<div class="col-md-12">
<div class="col-md-6"><input name="" type="text" placeholder="Group name" class="input"></div>
<div class="col-md-6"><input name="" type="text" placeholder="Group name" class="input"></div>
</div>
</div>
<div class="col-md-12 add-group">
<p>Add group members. Once completed, they will each be emailed a private URL to enter their scores.</p>


</div>

<div class="col-md-12 inputgroup">
<div class="col-md-2">
<div class="input-circle"></div>
</div>
<div class="col-md-4 pdl0"><input name="" type="text" placeholder="Group name" class="inputsearch"></div>
<div class="col-md-4 pdr0"><input name="" type="text" placeholder="Group name" class="inputsearch"></div>
<div class="col-md-2 delimg">
<img src="../img/cancle.png">
</div>


</div>

<div class="col-md-12 inputgroup">
<div class="col-md-2">
<div class="input-circle1"></div>
</div>
<div class="col-md-4 pdl0"><input name="" type="text" placeholder="Group name" class="inputsearch"></div>
<div class="col-md-4 pdr0"><input name="" type="text" placeholder="Group name" class="inputsearch"></div>
<div class="col-md-2 delimg">
<img src="../img/cancle.png">
</div>


</div>

<div class="col-md-12 inputgroup">
<div class="col-md-2">
<div class="input-circle2"></div>
</div>
<div class="col-md-4 pdl0"><input name="" type="text" placeholder="Group name" class="inputsearch"></div>
<div class="col-md-4 pdr0"><input name="" type="text" placeholder="Group name" class="inputsearch"></div>
<div class="col-md-2 delimg">
<img src="../img/cancle.png">
</div>


</div>

<div class="col-md-12 pdnone">
<div class="col-md-6 pdl0">
<a href="#" class="btnadd"><img src="../img/add.png"> Add another member</a>
</div>
<div class="col-md-6 pdr0"><a href="#" class="btnadd"> <img src="../img/success.png">  Finish</a></div>
</div>

</div>

</section>
<div class="clr"></div>
