a{
  cursor: pointer;
}

.circle-text{
  font-size: 40px;
  color: #fff;
 
  line-height: 85px;
}

.detail_page h1,h3 {
  color: #828282;
  line-height: 45px;
  color:rgb(129, 129, 129);
}

.detail_page h1 .score,
.detail_page h3 .score,
.color-blue-text{
  color: #27a0bf;
}

.inputgroup {
  margin: 10px 0px;
}
